* {
    box-sizing: border-box;
}

.hidden-link {
    display: none;
}

tbody {
    justify-content: center;
    align-items: flex-start;
    display: flex;
    height: 151px;
    overflow-x: auto;
    outline:outset;

}

    .container::before {
        height: 50%;
        margin-bottom: -50%;
    }

    .container::after {
        content: "";
        height: 50%;
        margin-top: -50%;
    }

    .container > * {
        margin: auto;
    }

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}


.html {
    width: 90%;
    background-color: #000000;
}


.css {
    width: 80%;
    background-color: #0000ab;
}

.js {
    width: 55%;
    background-color: #af0000;
}

#open {
    background-color: aquamarine;
}

#reserved {
    background-color: red;
}

.secondary-title h2, h4 {
    font-family: math;
    color: #000000;
    border-color: #ffffff;
    border-width: 0;
    text-align: center;
    left: 0;
    right: 0;
    padding: 6px;
    position: static;
    background: space;
    border-left: none;
    border-right: none;
    text-align-last: center;
    border-top: none;
    background-color: #ffffff;
    border: outset;
    display: inline-block;

}


.secondary-title h4 {
    margin-left: 15px;
    margin-right: 15px;
}

.card-container-A {
    transform-style: preserve-3d; 
}

    .card-container-A::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-style: flat; 
    }

#id01 {
    border-style: outset;
    border-width: 6px;
    border-color: #000000;

}

#vid00 {
    display: contents;
    transform: none !important;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#vid01 {
    position: relative;
    min-width: 200px;
    margin-top: 4px;
    padding-left: 0px;
    margin-right: 2px;
    height: 200px;
    max-width: 100%;
    z-index: 1;
    min-height: 150px;
    background-color: #d7d7d7;
    border: double;
    border-right-style: hidden;
    border-left-style: hidden;
    inline-size: -webkit-fill-available;
}

.vidText:nth-of-type(1) {
    border-color: #663838;
    border-style: groove;
    height: 80px;
}

.tooltip {
    position: relative;
    opacity: 1.0;

}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

:root {
    --black: rgb(0 0 0);
    --dark-navy: rgb(26 28 60);
    --navy: rgb(45 54 77);
    --navy-bg: rgb(86 94 115);
    --gray: rgb(167 167 167);
    --white: rgb(255 255 255);
    --yellow: rgb(255 181 0);
    --light-yellow: rgb(255 209 98);
}

.toolid button {
    background-repeat: no-repeat;
    background-position: calc(0% - 100px), calc(100% - 12px);
    background-color: firebrick;
    color: var(--dark-navy);
    cursor: pointer;
    display: block;
    position: relative;
    border: 2px solid var(--light-yellow);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 24px 12px 12px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    letter-spacing: 0.08em;
    text-shadow: 0 0 1px rgb(0 0 0 / 20%), 0 1px 0 rgb(0 0 0 / 20%);
    white-space: nowrap;
    transition: background-position 2s ease;
}

    .toolid button:hover {
        background-position: calc(25% - 60px), calc(100% + 100px);
    }

.clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 20;
    font-stretch: unset;
    padding: 5px;
}

.item {
    display: flex;
    transition: transform 2s;
    transform-style: preserve-3d;
    font: -webkit-small-control;
    min-height: 400px;
    flex-direction: column;
    place-content: space-evenly;
    z-index: 1; 
    justify-content: space-between;
    min-width: 500px;

}

.front {
    backface-visibility: hidden;
    justify-content: center;
    display: flex;
    flex-flow: row;
    overflow: scroll;
    position: absolute;
    z-index: 0;
}

    .front::before {
        /*content: "↺";*/
        position: fixed;
        top: 0;
        left: 20px;
        font-size: 20px;
        color: black;
        opacity: 0.7;
    }

.back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    backface-visibility: hidden;
    writing-mode: horizontal-tb;
    overflow: scroll;
    position: relative;
    z-index: 1;
    transform: rotateY(180deg);
    align-items: center;
}

.open-button {
    background-color: #000000;
    color: #ffffff;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: all 0.3s ease;
    pointer-events: none;
}

    .open-button:hover {
        background-color: #ffffff;
        color: #000000;
    }

.card-container {
    perspective: 1000px;
}

.card:hover * {
    pointer-events: auto;
}

.card {
    pointer-events: auto;
    position: relative;
    width: 100%;
    height: auto;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card-input {
    display: none;
}


    .card-input:checked + .card {
        transform: rotateY(180deg);
    }


.card .front,
.card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card .front {
    z-index: 2;
}

.card .back {
    transform: rotateY(0deg);
}

    .card .back .qr-code {
        margin: auto;
        width: 50%;
    }

        .card .back .qr-code img {
            max-width: 100%;
        }

        .card .back .qr-code p {
            text-align: center;
            margin-top: 10px;
        }

    .card .back .details {
        text-align: center;
        margin-top: 20px;
        padding: 20px;
        background-color: #f2f2f2;
    }

        .card .back .details h3 {
            margin-top: 0;
        }

        .card .back .details p {
            line-height: 1.5;
        }

.card-container:not(:active) .card {
    pointer-events: none;
}

.card-container:active .card {
    pointer-events: all;
}

.text-center {
    margin: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 60px;

}

.back .text-center {
    padding-left: 0;
    padding-right: 0;
    min-width: -webkit-fill-available;

}

#c_style2 {
    padding-top: 20px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    background-size: 100% 150%;
    background-blend-mode: hard-light;
    box-shadow: 10px 20px 20px -6px hsla(0, 0%, 70%, 0.3);
    color: white;

}


.img10 {
    margin-left: 0px;
    object-fit: contain;
    min-inline-size: max-content;
    min-width: 290px;
    padding: 15px;

}

.backgcolor:nth-of-type(odd) {
    background-color: #939292;
    border: outset;
    margin-top: 30px;
    border-bottom: none;
}

.backgcolor:nth-of-type(even) {
    background-color: #515a6a;
    border: outset;
    margin-top: 30px;
    border-bottom: none;
}

#vid01:nth-of-type(odd) {
    background-color: #b5b8bd;
}

#vid01:nth-of-type(even) {
    background-color: #b5b8bd;
}

tbody {
    vertical-align: top;
}

@media screen and (min-width: 800px) {
    .img10 {
        content: "";
        top: 20px;
    }

    .front {
        display: flex;
        justify-content: space-between;
    }

    .box {
        font-stretch: expanded;
        width: fit-content;

    }
}

@media screen and (max-width: 767px) {

    .front {
        position: absolute;
        backface-visibility: hidden;
        justify-content: center;
        display: flex;
        flex-flow: column;
        min-height: 200px;
        overflow: auto;
        
    }

    .back .text-center {
        width: 250px;
        margin-inline: auto;
    }

    .front .text-center {

        margin-inline: auto;
    }

    .front::before {
        top: 0;
        font-size: 20px;
        width: -webkit-fill-available;
        left: 0;
    }
}

.intro {
    color: white;
    margin: 20px;
    padding: 10px;

}

@media (hover: none) {
    /* Laite, jolla ei ole hiirtä */
    .card-input:checked + .card:hover {
        transform: none;
    }
}


@media (max-width: 767px) {

    td:nth-of-type(1) {
        content: "";
        height: 0px;
        width: 20px;
        border-radius: 10px;
    }

    td:nth-of-type(2) {
        display: block;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    td:nth-of-type(4) {
        content: "";
        height: 0px;
        width: 20px;
        border-radius: 10px;
    }

    p > texthr {
        content: "video";
        color: white;
        height: 50px;
        background-color: black;
    }

    .item {
        min-width: auto;
    }
}

@media screen and (max-width: 335px) {

    .secondary-title h2, h4 {
        width:200px;
        font-size:xx-small;
    }
}
